<h1>{{ title }}</h1>

<section class="container">
    <div class="flex-container">
        <div>
            <p>
                O que é Coworking?
                A revolução que está alterando para sempre a forma que pequenas empresas, profissionais freelancers 
                e autônomos se relacionam entre si, com seus fornecedores e clientes.
            </p>
        </div>
        <div>
            <img 
                [src]= 'url' 
                [alt]="description"
                class="photo"
                />
        </div>
        <div> 
            
                
                     
        </div>
    </div>



</section>
