
.container {
    width: 95%;
    margin: auto;

}

.flex-container {
    display: flex;
    flex-flow:row;
    justify-content: space-between;
  }

.photo {
    width: 85%;
    border-radius: 4px;
    align-items: center;
}